.login-dark {
    background: #50a3a2;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}

.full-height {
    height: 100%;
}

.card-header {
    text-align: center;
    font-size: 9rem;
    color: #50a3a2;
    margin: 0 auto !important;
}

.login-card {
    padding: 35px 15px 25px 15px;
}